@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root {
    --board-font: 'Dosis', sans-serif;
    --board-value-font: 'gdqpixel', sans-serif;
    --tile-color: #5b0ebc;
    font-size: 16px;
}

body {
    font-family: 'Dosis', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.monospace {
    font-family: monospace;
}

p.featured {
    color: white;
    position: absolute;
    transition: transform 1s linear;
    transform-origin: top left;
    z-index: 99;

    width: var(--width);
    height: var(--height);
    left: var(--left);
    top: var(--top);
    right: var(--right);
    bottom: var(--bottom);
}

p.featured.animate {
    transform: translate(calc(var(--left) * -1), calc(var(--top) * -1))
        scaleX(var(--xfactor)) scaleY(var(--yfactor));
}

/* RESET STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
